p::before{
    content:"- ";
}

section p:nth-child(3n){
    background-color: blue;
    color:white;
}

section p:nth-child(3n+1){
    background-color: red;
    color:black;
}

section p:nth-last-child(1){
    border:10px solid black;
}

table{
    width:100%;
}

td{
    margin:0px;
    padding:0px;
}

tr:nth-of-type(even){
    background-color:tomato;
}

tr:nth-last-of-type(1){
    background-color: violet;
}

:root{
    background-color:yellow;
}

section:empty::before{
    content:"No hay comentarios disponibles";
}

section:not(.comentarios) > p{
    background-color:white;
    border:0px;
}